#show-product{
    margin-top: 4%;
    height: 300px;
}

#small-images-div{
    margin-right: -3%;
}

#small-images-div img{
    width: 70%;
    height: 50px;
    margin-bottom: 10%;
}

#main-image{
    height: 100%;
}

#buy-product{
    line-height: 100%;
}


#product-details{
    margin: auto;
    height: 400px;
    background-color: #efefef;
    border: 4px solid black;
}

#product-details-first-part{
    border: 4px solid black;
    
}

.product-details-tabs{
    margin-top: 3%;
    padding-left: 10%;
    background-color: #efefef !important;
    color: black !important;
}

#product-details-second-part{
    width: 100%;
    object-fit: cover;
}

.similar-products-images{
    height: 200px;
    width: 100%;
}

.other-categories{
    height: 300px;
}

.other-categories-images{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#other-categories h5{
    margin-top: 5%;
    font-family: "Touche Bold";
}

#other-categories div{
    margin-top: auto;
    padding: 1%;
    /* width: 50%; */
}


.rules-images{
    width: 3em;
    height: 3em;
}

#rules-section div{
    margin-top: 5%;
    text-align: center;
    padding: 3% 2%;
    border: 4px solid black;
    width: 32%;
}


#rules-section h5{
    margin-top: 8%;
    font-family: "Touche Bold";
}

#rules-section p{
    font-family: "Touche Light";
    font-size: 14px;
}

#rules-section-second-part{
    /* margin-left: 1px;
    margin-right: 1px; */
}